version: '3.7'
services:

  traefik:
    container_name: pf_traefik
    networks:
      - web-dev
    ports:
      # Listen on port 80, default for HTTP, necessary to redirect to HTTPS
      - target: 80
        published: 80
        mode: host
      # Listen on port 443, default for HTTPS
      - target: 443
        published: 443
        mode: host
      - target: 8080
        published: 8080
        mode: host
    volumes:
      # Add Docker as a mounted volume, so that Traefik can read the labels of other services
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./_volumes/traefik/traefik.yml:/traefik.yml:ro
      - ./_volumes/traefik/traefik-certs.yml:/traefik-certs.yml
      - ./_volumes/traefik/certificates/:/certificates
  
  mysql:
    container_name: pf_mysql
    networks:
      - web-dev
    environment:
        MYSQL_ROOT_PASSWORD: "password"
        MYSQL_DATABASE: "personal_financial"
        MYSQL_USER: "dbuser"
        MYSQL_PASSWORD: "dbpassword"
    volumes:
      # Add volume for all database files
      - ./_volumes/mysql/database_data/:/var/lib/mysql
      # Add volume for custom configurations
      - ./_volumes/mysql/conf.d/:/etc/mysql/conf.d
      - ./_volumes/mysql/docker-entrypoint-initdb.d/:/docker-entrypoint-initdb.d
    ports:
      - target: 3306
        published: 3306
        mode: host

  php:
    container_name: pf_php
    networks:
        - web-dev
    volumes:
      - .:/var/www/html/:cached
    environment:
      AUTORUN_ENABLED: false
      PUID: 1000
      PGID: 1000
    depends_on:
      - "mysql"
      - "traefik"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.personal-financial.rule=Host(`pfinancial.dev.test`)"
      - "traefik.http.routers.personal-financial.entrypoints=websecure"
      - "traefik.http.routers.personal-financial.tls=true"
      - "traefik.http.services.personal-financial.loadbalancer.server.port=443"
      - "traefik.http.services.personal-financial.loadbalancer.server.scheme=https"

  # node:
  #   container_name: pf_node
  #   networks:
  #     - web-dev
  #   volumes:
  #     - .:/usr/src/app/:cached
  #   working_dir: /usr/src/app/
  
  # meilisearch:
  #   networks:
  #       - web-dev
  #   container_name: pf_meilisearch
  #   volumes: 
  #     - ./_volumes/meilisearch/meilisearch_data:/meili_data:cached
  #   depends_on:
  #     - "mysql"
  #     - "php"

  redis:
    container_name: pf_redis
    networks:
      - web-dev
    volumes:
     - ./_volumes/redis/data:/data:cached
    depends_on:
      - "mysql"
      - "php"
    command: "redis-server --appendonly yes --requirepass redispassword"

networks:
  web-dev:
    driver: bridge