name: Deployment

on:
  # release:
  #   types: [ published ]
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Deploy after release
    runs-on: ubuntu-22.04
    environment: Production

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8,2
        coverage: none

    - name: Install Composer Dependencies
      run: |
        composer --version
        composer install

    - name: Deploy
      run: |
        which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
        eval $(ssh-agent -s)
        ssh-add <(echo "${{secret.SSH_PRIVATE_KEY}}")
        mkdir -p ~/.ssh
        [[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        php vendor/bin/envoy run check --server=${{secret.SERVER_IP}} --user=${{secret.SERVER_USER}} --commit="${{github.sha}}" --branch=${{github.ref_name}}